.container {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--primaryColor);
}

.anchorTag {
  color: var(--secondaryColor);
}

.biography {
  line-height: 160%;
}
