.image {
  width: 25em;
  border-radius: 75px;
  padding: 2rem;
}

@media screen and (max-width: 1220px) {
  .container {
    align-self: center;
  }
}

@media screen and (max-width: 440px) {
  .image {
    width: 80vw;
  }
}
