.container {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: var(--primaryColor);
}

.anchorTag {
  color: #ff6584;
}

.biography {
  line-height: 160%;
}

@media screen and (max-width: 1220px) {
  .title {
    text-align: center;
  }
}

@media screen and (max-width: 805px) {
  .title {
    margin: 0;
  }
  .biography {
    font-size: 0.8rem;
  }
}
