.image {
  width: 10rem;
  border-radius: 4rem;
}

.image:hover {
  filter: blur(2px);
}

.artistName {
  color: var(--secondaryColor);
  text-align: center;
  padding: 0.5rem;
}

.anchorTag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .image {
    width: 7rem;
  }
}

@media screen and (max-width: 805px) {
  .container {
    flex: 1 0 200px;
    margin-bottom: 1rem;
    border: 2px solid red;
  }
}

@media screen and (max-width: 535px) {
  .container {
    flex: 1 0 140px;
  }
}

@media screen and (max-width: 407px) {
  .image {
    width: 8rem;
  }
}
