.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  padding: 2rem;
}

.title {
  margin: 0;
  text-align: center;
  color: var(--primaryColor);
}

.tagContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.tagContainer a {
  color: var(--secondaryColor);
}

@media screen and (max-width: 600px) {
  .tag {
    flex: 1 0 150px;
    margin-bottom: 20px;
  }
  .tagContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 436px) {
  .tag {
    flex: 1 0 80px;
  }
}
